    
body {
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	font-family: helvetica;	
	-webkit-backface-visibility: hidden;/* for иафа */
	 backface-visibility:hidden; 
	 -moz-backface-visibility:hidden;
}
.ui-page { 
		  -webkit-user-select: none;
	-webkit-text-size-adjust: none;
	font-family: helvetica;	
	-webkit-backface-visibility: hidden;/* for иафа */
	 backface-visibility:hidden; 
	 -moz-backface-visibility:hidden;
}
		
#header{-webkit-transform:translate3d(0,0,0);}
.pop .out .reverse{
			 -webkit-transform:scale(.2);
			 opacity:0;
			 -webkit-animation-name:null;
			 z-index:10;
}
.center 
	 position:absolute;
	 top: 30%;
	 width: 100%;
}
			
			
.weightFont {
	font-weight: bold;
}

.moreInfo{
	clear:both;
	text-align:center;
	font-size:14px;
	border-bottom:1px dotted #CCCCCC;
	margin-top:15px;
	margin-bottom:5px;
	padding:15px;
	width:100%;
	margin-left:-15px;
}
.formSP{
	margin-top:5px;
	margin-bottom:5px;
	clear:both;
}

 