<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.babybus.config.soft"
        version   = "1.2.01">
              
	<name>DeathGirl babyBus!!!</name>        
	<description>
		我只是说这是个测试测试软件
	</description>       
	<author email="norrai@qq.com" href="http://www.norrain.net">张成刚</author>        
	<content src="index.html" /> 
	<preference name="fullscreen" value="true" />
	<preference name="phonegap-version" value="3.3" />
	<preference name="phonegap-version" value="default" />  <!-- 方向 default landscape portrait -->
	<gap:splash src="splash.png" />
	<icon src="icon.png"/>
	
	<access origin="*" />    
</widget>
